body{
background-color: #373842;
}
header{
    text-align: center;
    font-family:'Times New Roman', Times, serif
}
nav{
    background-color: #354D65;
}
 h1{
    background-color: #5F7867;
 }  
.container{

}
img{
    width: 80px;
    height: 80px;
}


/* fix the images */
/* fix everything tbh */
/* i cannnot read any of this */
/* add two navigations */
/* put placeholder audio and vidoe in please */


/* scroll contianer?? */

/* overflow-y
overscroll behavior: contain
border */


/*
#373842 <Black
#E7E7E7 <White
#5F7867 <Green
#354D65 <Blue
*/