body{
    background-color: #373842;
    }
    header{
        text-align: center;
        font-family:'Times New Roman', Times, serif;
    }
    nav{
        background-color: #E7E7E7;
    }
     h1{
        background-color: #5F7867;
        padding: 20px;
     }  

/* audio and paragraphs need to be added */
/* put placeholder audio in please */



/*
#373842 <Black
#E7E7E7 <White
#5F7867 <Green
#354D65 <Blue
*/