body{
    background-color: #373842;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    nav ul{
        list-style: none;
        padding: 20px;
        margin:0;
        border: 2px solid #354D65;

    }
    /* style only applies to list items */
    nav ul li{
    background-color: #5F7867;
    margin:0;
    padding:20px;
    text-align: center;
    }
    /* style the links so they look better */
    nav ul li a{
        color:#332F2C;
        text-decoration:none;
        padding:10px 20px;
        border-radius: 5px;
        background-color:#E7E7E7;
        border:2px solid #354D65;
    }
    nav ul li a:hover{
        background-color:#354D65;
        color:#E7E7E7
    }
    .AccLogs{
        background-color: #E7E7E7;   
        text-align: center;
        padding:20px;
        margin:20px;
    }


/* audio and paragraphs need to be added */
/* put placeholder audio in please */



/*
#373842 <Black
#E7E7E7 <White
#5F7867 <Green
#354D65 <Blue
*/