body{
    background-color: #373842;
    color:#000000;
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color:#354D65 ;
    text-align:center;
}
nav{
    /* play around with this more */
    background-color:#5F7867;
    margin:auto;
    padding:20px;
    width: 100%;
}
h1{
    /* add styles in here */
    top:50px;
}

/* should be in center. make it so it isn't touching the right side. */
p{
    background-color: #E7E7E7;
    padding: 20px;
    margin-top: 15%;
    float: right;
}

footer{
    background-color: #354D65;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    position:fixed;
    /* Change the text position */
}

/* fix smaller screen issue. Center it next to the text.*/
img.Mainpage{
    width: 400px;
    height: 400px;
    flex: 20%;
    float: left;
    margin-top: 10%;
    object-fit: cover;

    /* make it look nicer */
    /* fix the positions */
}
#contacts{
    background-color:#5F7867;
    padding:20px;
    margin-top:0px;
    bottom: 30px;
    left: 0px;
    width:100%;
    /* fix the position im begging */
}


    /*
#373842 <Black
#E7E7E7 <White
#5F7867 <Green
#354D65 <Blue
*/

/* fix positions for everything */
/* this is so ugly. I need to fix some things. */
/* do not start over i know you are tempted to */
/* also organize everything */
/* shorten adn fix code */
/* maybe i should restart this */
/* im going to restart this there is no way I can read any of this */
/* dawg i dont understand any of my code. put it out of it's misery */